/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(135deg, #eef2f7, #e6ebf2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #2b2b2b;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.06),
    0 2px 6px rgba(0, 0, 0, 0.04);
  text-align: center;
}

img {
  width: 30%;
  border-radius: 30%;
}

h1 {
  margin-bottom: 25px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 18px;
  text-align: left;
}

label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dfe6f9;
  font-size: 15px;
  transition: 0.2s;
}

input:focus {
  outline: none;
  border-color: #4c7cf3;
  box-shadow: 0 0 0 3px rgba(76, 124, 243, 0.2);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: #000;
  color: #ff5100;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff5100;
  color: #fff;
}

.mensagem {
  margin-top: 15px;
  font-size: 14px;
  color: green;
  display: none;
}